<% if false %>
  This is a comment.
  Below we have all sections that we can override.
  <%= content_for :all do %><% end %>
  <%= content_for :doctype do %><% end %>
  <%= content_for :external_html do %><% end %>
  <%= content_for :html do %><% end %>
  <%= content_for :external_head do %><% end %>
  <%= content_for :head_meta do %><% end %>
  <%= content_for :head_meta_before do %><% end %>
  <%= content_for :head_meta_after do %><% end %>
  <%= content_for :head_title do %><% end %>
  <%= content_for :head_title_before do %><% end %>
  <%= content_for :head_title_after do %><% end %>
  <%= content_for :head_css do %><% end %>
  <%= content_for :head_css_before do %><% end %>
  <%= content_for :head_css_after do %><% end %>
  <%= content_for :head_js do %><% end %>
  <%= content_for :head_js_before do %><% end %>
  <%= content_for :head_js_after do %><% end %>
  <%= content_for :head_other do %><% end %>
  <%= content_for :external_body do %><% end %>
  <%= content_for :body_attributes do %><% end %>
  <%= content_for :body_header do %><% end %>
  <%= content_for :body_header_attributes do %><% end %>
  <%= content_for :body_header_before do %><% end %>
  <%= content_for :body_header_after do %><% end %>
  <%= content_for :body_nav do %><% end %>
  <%= content_for :body_nav_attributes do %><% end %>
  <%= content_for :body_nav_before do %><% end %>
  <%= content_for :body_nav_after do %><% end %>
  <%= content_for :body_main do %><% end %>
  <%= content_for :body_main_attributes do %><% end %>
  <%= content_for :body_main_before do %><% end %>
  <%= content_for :body_main_content do %><% end %>
  <%= content_for :body_main_after do %><% end %>
  <%= content_for :body_footer do %><% end %>
  <%= content_for :body_footer_attributes do %><% end %>
  <%= content_for :body_footer_before do %><% end %>
  <%= content_for :body_footer_after do %><% end %>
  <%= content_for :body_css do %><% end %>
  <%= content_for :body_css_before do %><% end %>
  <%= content_for :body_css_after do %><% end %>
  <%= content_for :body_js do %><% end %>
  <%= content_for :body_js_before do %><% end %>
  <%= content_for :body_js_after do %><% end %>
  <%= content_for :body_dev do %><% end %>
<% end %>
<% if content_for?(:all) %>
  <%= yield(:all) %>
<% else %>
  <% if content_for?(:doctype) %>
    <%= yield(:doctype) %>
  <% else %>
    <!doctype html>
  <% end %>
  <% if content_for?(:external_html) %>
    <%= yield(:external_html) %>
  <% else %>
    <%# The 'no-js' class is for modernizr.  %>
    <!--[if lt IE 7]>
      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="">
    <![endif]-->
    <!--[if IE 7]>
      <html class="no-js lt-ie9 lt-ie8" lang="">
    <![endif]-->
    <!--[if IE 8]>
      <html class="no-js lt-ie9" lang="">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <html class="no-js" lang="">
    <!--<![endif]-->
        <% if content_for?(:html) %>
          <%= yield(:html) %>
        <% else %>
          <% if content_for?(:external_head) %>
            <%= yield(:external_head) %>
          <% else %>
            <head>
              <% if content_for?(:head_meta) %>
                <%= yield(:head_meta) %>
              <% else %>
                <% if content_for?(:head_meta_before) %>
                  <%= yield(:head_meta_before) %>
                <% end %>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                <meta name="description" content="">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <%= csrf_meta_tags %>
                <% if content_for?(:head_meta_after) %>
                  <%= yield(:head_meta_after) %>
                <% end %>
              <% end %>

              <title>
              <% if content_for?(:head_title_before) %>
                <%= yield(:head_title_before) %>
              <% else %>
              <% end %>
              <%= yield(:head_title) %>
              <% if content_for?(:head_title_after) %>
                <%= yield(:head_title_after) %>
              <% else %>
                <% if content_for?(:head_title) %>
                  <%= ' - ' %>
                <% end %>
                <%= $application_name %>
              <% end %>
              </title>

              <% if content_for?(:head_css) %>
                <%= yield(:head_css) %>
              <% else %>
                <% if content_for?(:head_css_before) %>
                  <%= yield(:head_css_before) %>
                <% else %>
                <% end %>
                <%= stylesheet_pack_tag 'head' %>
                <% if content_for?(:head_css_after) %>
                  <%= yield(:head_css_after) %>
                <% else %>
                <% end %>
              <% end %>

              <% if content_for?(:head_js) %>
                <%= yield(:head_js) %>
              <% else %>
                <% if content_for?(:head_js_before) %>
                  <%= yield(:head_js_before) %>
                <% else %>
                <% end %>
                  <%= javascript_pack_tag 'head' %>
                <% if content_for?(:head_js_after) %>
                  <%= yield(:head_js_after) %>
                <% else %>
                <% end %>
              <% end %>

              <% if content_for?(:head_other) %>
                <%= yield(:head_other) %>
              <% else %>
                <link rel="icon" href="/image/favicon/favicon.ico">
                <link rel="apple-touch-icon" href="/image/icon/apple/apple-touch-icon.png">
              <% end %>
            </head>
          <% end %>

          <% if content_for?(:external_body) %>
            <%= yield(:external_body) %>
          <% else %>
            <body
              <% if content_for?(:body_attributes) %>
                <%= yield(:body_attributes) %>
              <% else %>
                class="<%= controller_name %> <%= action_name %>"
              <% end %>
            >
            <% if content_for?(:body_header) %>
              <%= yield(:body_header) %>
            <% else %>
              <%= render :partial => 'shared/header' %>
            <% end %>

            <% if content_for?(:body_nav) %>
                <%= yield(:body_nav) %>
            <% else %>
                <%= render :partial => 'shared/nav' %>
            <% end %>

            <% if content_for?(:body_main) %>
              <%= yield(:body_main) %>
            <% else %>
              <%= render :partial => 'shared/main' %>
            <% end %>

            <% if content_for?(:body_footer) %>
              <%= yield(:body_footer) %>
            <% else %>
              <%= render :partial => 'shared/footer' %>
            <% end %>

            <% if content_for?(:body_css) %>
              <%= yield(:body_css) %>
            <% else %>
              <% if content_for?(:body_css_before) %>
                <%= yield(:body_css_before) %>
              <% else %>
              <% end %>
              <%= stylesheet_pack_tag 'body' %>
              <% if content_for?(:body_css_after) %>
                <%= yield(:body_css_after) %>
              <% else %>
              <% end %>
            <% end %>

            <% if content_for?(:body_js) %>
              <%= yield(:body_js) %>
            <% else %>
              <% if content_for?(:body_js_before) %>
                <%= yield(:body_js_before) %>
              <% else %>
              <% end %>
              <%= javascript_pack_tag 'body' %>
              <% if content_for?(:body_js_after) %>
                <%= yield(:body_js_after) %>
              <% else %>
              <% end %>
            <% end %>

            <% if content_for?(:body_dev) %>
              <%= yield(:body_dev) %>
            <% else %>
              <% if $dev %>
              <pre>
              <%= $dev.inspect %>
              </pre>
              <% end %>
            <% end %>
            </body>
          <% end %>
        <% end %>
      </html>
    <%# No enclosure because of '<!--[if' sentences.  %>
  <% end %>
<% end %>
