<%= content_for :head_meta do %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<% end %>
<%= content_for :head_css do %><% end %>
<%= content_for :head_js do %><% end %>
<%= content_for :head_other do %><% end %>
<%= content_for :external_body do %>
  <body>
    <%= yield %>
  </body>
<% end %>

<%= render 'shared/base' %>